config RTD119X
	bool "Realtek RTD119X SoC family specific drivers"
	depends on ARCH_REALTEK
	default y
	help
	  Realtek RTD119X SoC family specific support.

	  If unsure, say N.

if RTD119X
source "drivers/soc/realtek/rtd119x/Kconfig"
endif



