# SPDX-License-Identifier: GPL-2.0-or-later
menuconfig ARCH_REALTEK
	bool "Realtek SoCs"
	depends on ARCH_MULTI_V7
	select ARM_AMBA
	select ARM_GIC
	select ARM_GLOBAL_TIMER
	select ARM_PATCH_PHYS_VIRT
	select ARCH_HAS_BARRIERS
	select ARCH_HAS_CPUFREQ
	select ARCH_REQUIRE_GPIOLIB
	select CLKDEV_LOOKUP
	select CLKSRC_ARM_GLOBAL_TIMER_SCHED_CLOCK
	select CLKSRC_OF
	select COMMON_CLK
	select CPU_V7
	select GENERIC_CLOCKEVENTS
	select GENERIC_IRQ_CHIP
	select GENERIC_IRQ_MULTI_HANDLER
	select HAVE_MACH_CLKDEV
	select HAVE_SCHED_CLOCK
	select HAVE_SMP
	select IRQ_DOMAIN
	select PINCTRL
	select PM_OPP
	select RESET_CONTROLLER
	select RTK_PLATFORM
	select SPARSE_IRQ
	select ZONE_DMA
	help
	  This enables support for the Realtek RTD1195 SoC family.
