config RTK_SB2_SECURITY_DEBG
	bool "Realtek system bridge security mode debug"
	depends on HAVE_ARM_SMCCC
	default n
	help
	  Enable helper functions for Realtek system bridge security mode debug. If unsure, say N.

config RTK_RBUS_BARRIER
	bool "Realtek rbus barrier"
	depends on RTK_MEM_REMAP
	default y
	help
	  Enable helper functions for R-bus barrier. If unsure, say N.

config RTK_MEM_REMAP
	bool "Realtek memory remap"
	default y
	help
	  Enable helper functions for static ioremap. If unsure, say N.

config RTK_ACPU_RELOAD
	bool "Realtek dynamic ACPU reload"
	default n
	help
	  Dynamic ACPU stop/start mechanism. If unsure, say N.

config RTK_IPCSHM_RESET
	bool "Dynamic IPC share memory reset"
	depends on RTK_ACPU_RELOAD
	default n
	help
	  Reset IPC_SHM when performing dynamic ACPU stop/start. If unsure, say N.

config RTK_VMX_ULTRA
	bool "VMX ultra boot enable"
	default n
	select RTK_VMX_DRM
	help
	  Set VMX ultra boot enable.

config RTK_VMX_DRM
	bool "VMX DRM"
	default n
	help
	  Enable VMX DRM.

source "drivers/soc/realtek/common/rpc/Kconfig"
source "drivers/soc/realtek/common/perfcnt/Kconfig"
