config RTK_THERMAL
	bool "Realtek thermal management"
	depends on OF && THERMAL_OF
	help
	  Enable thermal management with a generic thermal
	  sensor driver on Realtek SoCs.

	  If you want this support, you should say Y here.

config RTK_THERMAL_RTD119X
	bool "RTD-119X thermal sensor support"
	default y if ARCH_REALTEK
	select RTK_THERMAL
